<div class="position-fixed top-0 right-0 d-flex flex-column"><%- include('partials/header') %></div>
<h1
	class="border-bottom border-success border-4 text-capitalize position-relative w-75 mt-5"
	style="left: 20.5%"
>
	all houses
</h1>
<table
	class="table table-light table-striped container position-relative w-75 mt-2"
	style="left: 8%"
>
	<thead class="fs-5 text-capitalize">
		<tr>
			<th scope="col">House ID</th>
			<th scope="col">phone</th>
			<th scope="col">area</th>
			<th scope="col">address</th>
		
		</tr>
	</thead>
	<tbody>
		<%result.forEach((item)=>{ %>
		<tr class="align-middle">
			<td><%=item.id%></td>
			<td><%=item.phone%></td>
			<td><%=item.area%></td>
			<td><%=item.address%></td>
			<%if(access.user.role == 'admin'){%>
			<td>
				<a href="/edithouse/<%=item.id%>" class="btn" id="update-btn"
					><i class="far fa-edit"></i
				></a>
			</td>
			<td>
				<a href="#" class="btn" id="delete-btn"><i class="fas fa-trash"></i></a>
			</td>
			<%}%>
		</tr>
		<% })%>
	</tbody>
</table>
<script>
	let deleteBtn = document.querySelectorAll("#delete-btn");
	deleteBtn.forEach((btn) =>
		btn.addEventListener("click", (e) => {
			let deleteRefId =
				e.target.parentElement.parentElement.parentElement.parentElement.firstElementChild
					.innerText;

			let res = confirm("are you sure?");

			if (res) {
				fetch("/deletehouse/" + deleteRefId, {
					method: "delete",
				})
					.then((res) => {
						location.replace("/houses");
					})
					.catch((err) => {
						console.log(err);
					});
			}
		})
	);
</script>
<%- include('partials/footer') %>
